<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NFCReaderUsageDescription</key>
	<string>This app uses NFC to record student attendance</string>
	<key>GIDClientID</key>
	<string>205189660137-f491ei0pjp9mm5h8gt82j7gea2u2cmv7.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.205189660137-f491ei0pjp9mm5h8gt82j7gea2u2cmv7</string>
				<string>com.TAPN-T-S</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
